.watermark {
    position: relative;
  }
  
  .watermark:after {
    content: "";
    display: block;
    pointer-events: none;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 230px;
    top: 350px;
    align-items: center;     
    background-image: url('../../img/watermarkcolor.png');
    background-size:contain;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    opacity: 0.1;
  }