.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media print {
  .hide-on-print {
    display: none;
  }

  body {
    /* Define your custom footer style */
    margin-bottom: 50px;
    /* Adjust as needed */
  }

  @page {
    size: auto;
    /* Let the browser determine the page size */
    margin: 25mm 15mm;
    /* Adjust margins as needed */

    /* Define your custom header and footer */
    @bottom-center {
      content: "Your Custom Footer Text";
      font-size: 12px;
      color: #333;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  display: none;
}

.App-header {
  background-color: #3171e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  /* height: 2000px;
  padding: 10px;
padding-bottom: 50px;*/
}

h1 {
  margin-bottom: 2000px;
}

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  will-change: transform;
  transform: translateZ(0);

  display: flex;

  height: 50px;

  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}

.watermark {
  position: relative;
}

.watermark:after {
  content: "";
  display: block;
  pointer-events: none;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 230px;
  top: 150px;
  align-items: center;
  background-image: url('./img/watermarkcolor.png');
  background-size: contain;
  background-position: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.0;
  /*
  for sj
  opacity: 0.03;
  for watercolor 
  opacity: 0.2;*/
}

.watermarksales {
  position: relative;
}

.watermarksales:after {
  content: "";
  display: block;
  pointer-events: none;
  width: 300px;
  height: 350px;
  position: absolute;
  left: 130px;
  top: 100px;
  align-items: center;
  background-image: url('./img/diamond.png');
  background-size: contain;
  background-position: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

@media print {

  html,
  body {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

.hover-effect:hover {
  background-color: #f5f5f5;
  /* Change background color on hover */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

.cell-with-space {
  padding: 30px;
  /* Add padding to create space between cells */
}